* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  display: flex;
  background-color: #F55A5A;
  width: 550px;
  height: 55px;
  margin-bottom: 45px;
}

.img-logo {
  width: 24px;
  height: 24px;
  margin: 16px 7px 15px 213px;

}

.nav-text {
  color: #FFF;
font-family: Inter;
font-size: 14.461px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -1.085px;
margin-top: 20px;
}

.card {
  
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  align-items: center;
  align-content: center;
  margin-top: 0px;
  margin-bottom: 36px;
  position: relative;
}

.card-img {
  width: 125px;
height: 168px;
flex-shrink: 0;
  border-radius: 5px;
  margin: 0px 19px 36px 40px;
}

.location-logo {
  width: 7px;
height: 9.545px;
flex-shrink: 0;
margin-bottom: 0px;
padding:0px;
margin-right:4px;
}

.card-title {
  color: #2B283A;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0px;
margin-top: 4px;
}

.card-description {
  color: #2B283A;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
  width: 326px;
}

.card-date {
  color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card-location {
  color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.741px;
text-transform: upperCase;
margin-right: 12px;
margin-bottom: 0px;
}

.card-maps {
  color: #918E9B;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
margin-bottom: 0px;
}

.card-firstpara {
 margin: 0px;
 padding:0px;
}

.hr {
  width: 478px;
  height: 1px;
  color: #F5F5F5;
background: #F5F5F5;
border-color: #F5F5F5;
bottom: 0;
margin-left: 40px;
opacity: 0.4;
}
